* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.button {
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}

/* HERO SECTION */

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;    
    align-items: center;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 100px;
    width: 60%;
}

.main-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    width: 60%;
}

.image {
    width: 500px;
    height: 250px;
    background-color: #b9afafb9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.title-container {
    max-width: 425px;
}

.header-links {
    display: flex;
    gap: 16px;
}

/* INFORMATION SECTION */

.info {
    margin-top: 24px;
    margin-bottom: 72px;
}

.info-img {
    width: 200px;
    height: 200px;
    border: solid 2px rgba(76, 76, 245, 0.884);
    border-radius: 8px;

}

.info-card {
    width: 200px;
    text-align: center;
}

.card-container {
    display: flex;
    gap: 48px;
}

.info-title {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 24px 0px;
}

/* QUOTE SECTION */
.quote {
    background-color: #e5e7eb;
    text-align: left;
    display: flex;
    justify-content: center;
    padding: 48px;
}

.quote-wrapper {
 display: flex;
 flex-direction: column;
 width: 60%;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    color: #1f2937;
    font-weight: bold;
    align-self: flex-end;
}

/* CALL TO ACTION SECTION */

.call-to-action {
    background-color: #3882f6;
    width: 60%;
    padding: 48px;
    margin: 64px;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn-white-border {
    border-color: white;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    width: 100%;
    color: white;
    font-size: 24px;
    padding: 48px;
}